@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--tertiary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

:root {
    --primary-color: #5fbfbf;
    --secondary-color: #6cd8d8dc;
    --tertiary-color: #6cd8d88b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    max-height: 100vh;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.body-container {
    display: grid;
}

/* dropdown menu */

.dropdownDownload {
    color: #3577a3;
    font-weight: 500;
}

.dropdownView {
    color: #3577a3;
    font-weight: 500;
}

.dropdownMenu h5 {
    align-self: center;
}

.dropdownMenu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 500ms ease;
}

.dropdownMenu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 500ms ease;
}

.menu-trigger.active {
    color: #023f3f;
    transition: 200ms ease-in-out;
    font-size: 29px;
}

.Dropdown {
    z-index: 99999;
}

.menu-trigger {
    padding: 2px 5px 2px 5px;
    position: fixed;
    top: 20px;
    left: 20px;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    color: #278484;
}

.menu-trigger:hover {
    font-size: 29px;
    transition: 200ms ease-in-out;
}


.dropdownMenu {
    display: grid;
    align-items: center;
    position: fixed;
    top: 75px;
    left: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 999;
    letter-spacing: 3px;
    font-size: 20px;
}

.dropdownMenu ul {
    margin-top: 4vh;
}

.dropdownMenu ul li a:hover {
    color: gray;
}

.dropdownMenu ul li a:active {
    color: rgb(68, 68, 68);
}

.menuBtn {
    position: absolute;
    color: black;
    opacity: 0.5;
}

/* header section */

header {
    background-color: #1f2833;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav-tabs {
    height: 6vh;
}

.nav-item a {
    font-size: 2.5vh;
}

.nav-link {
    height: 6vh;
}

header nav {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
    margin-top: 5px;
}

header nav ul li a {
    font-size: 25px;
    list-style: none;
    padding: 2px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    color: white;
    opacity: 0.5;
}

header nav ul li a:hover {
    border-radius: 3px;
    border: none;
    color: white;
    opacity: 0.3;
    transition: 0.3s;
}

header nav ul li a:active {
    color: black;
    opacity: 0.5;
    transition: 0s;
}

/* general */

.portfolioContainer {
    min-height: 88vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.1));
}

/* hero section */

.hero {
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    list-style: none;
    font-size: 20px;
}

.content-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content p {
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

/* landing page */

.landing {
    display: grid;
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.7)),
        url('./assets/landing-page/jake-hills-mI02K_LxlfU-unsplash.jpg');
    background-size: cover;
}

.landing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30vh;
    margin-bottom: 20vh;
    color: white;
}

.landing-title h1 {
    text-align: center;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 5vh;
    letter-spacing: 7px;
}

.landing-subtitle {
    margin: 3vh;
    color: #90ccf4;
    font-weight: 300;
    text-align: center;
    letter-spacing: 5px;
}

.landing-subtitle span {
    color: #00ffee;
    letter-spacing: 6px;
}

.landingBtns {
    display: flex;
    width: 60vw;
    justify-content: space-between;
    margin-top: 20vh;
}

.landing-title a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
}

.landing-container a:hover {
    opacity: 0.7;
    transition: 0.1s;
}

.landing-container a:active {
    opacity: 0.4;
    transition: 0s;
}

.landing-headline h1 {
    font-size: 40px;
    padding: 50px;
    margin-bottom: 60px;
    color: rgb(54, 43, 214);
}

/* about me section */

.aboutMeResume {
    text-align: center;
    position: absolute;
}

/* container div */
.about-me-section {
    display: flex;
    width: 100%;
}

.abtTitle {
    margin-left: 6vw;
}

.about-title {
    margin-top: 15vh;
    font-weight: 400;
}

.about-title span {
    margin-top: 15vh;
    font-weight: 400;
    color: rgb(37, 136, 145);
}

.about-text {
    margin-bottom: 20vh;
    margin-left: 6vw;
    font-weight: 300;
    width: 70%;
    letter-spacing: 2px;
    line-height: 1.9;
}

/* left side about me div */
.leftCol {
    min-height: 100vh;
    width: 60%;
    display: grid;
    align-items: center;
}

/* right side about me div */
.rightCol {
    background-image: url(./assets/about/Me.jpg);
    height: 100vh;
    width: 40%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.blur {
    backdrop-filter: blur(8px);
    height: 100%;
    width: 100%;
    position: absolute;
    background:
        linear-gradient(rgba(255, 255, 255, 0.03),
            rgba(255, 255, 255, 0.03))
}

.me {
    border-radius: 50%;
    height: 22vw;
    width: auto;
    position: absolute;
    left: -70px;
    margin-top: 25vh;
}

/* my work/projects section */

.projects {
    width: 100%;
    min-height: 88vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.workContainer {
    margin-top: 5vh;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.workIntro {
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
    margin: 10vh;
}

.workPageTitle {
    font-weight: 300;
}

.workPageDesc {
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.9;
}

.card {
    margin: 5%;
    height: 90vh;
    width: 40%;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(75, 75, 75, 0.04) 0px 3px 5px;
}

.card-title {
    margin-top: 3%;
    margin-left: 5%;
    font-size: 4vh;
    font-weight: 400;
}

.card img {
    height: 40%;
    width: 90%;
    object-fit: cover;
    border-radius: 0px;
    align-self: center;
}

.card-body {
    display: grid;
}

.card-text {
    text-align: center;
}

.projectDetails {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
    color: rgb(77, 77, 77)
}

.links {
    display: inline-flex;
    align-self: flex-end;
    justify-content: space-around;
}

.cardBtn {
    background-color: var(--secondary-color);
    color: white;
    padding: 5px;
    align-items: center;
    text-align: center;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
}

.cardBtn:hover {
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.0) 1.95px 1.95px 2.6px;
    transition: 0.2s ease-in-out;
    color: #f7f7f7;
}

.cardBtn:active {
    background-color: var(--primary-color);
    box-shadow: rgb(129, 129, 129, 0.3) 3px 3px 6px 0px inset, rgba(129, 129, 129, 0.3) -3px -3px 6px 1px inset;
    transition: 0s;
}

/* contact me */
.contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contactButton {
    margin-bottom: 5vh;
}

.contactTitle {
    color: white;
    margin-top: 5vh;
    border-radius: 0px;
}

.container h3 {
    margin-top: 10vh;
    font-weight: 300;
    font-size: 1.1em;
}

.form-control {
    margin-bottom: 3vh;
    width: 50vw;
    min-width: 300px;
}

.footerClass {
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(53, 53, 53);
}

.footerContact {
    display: grid;
    grid-gap: 1vh;
}

.contact-section a {
    margin: 1vw;
    color: var(--primary-color);
}

.copyright {
    color: var(--primary-color);
    font-size: 10px;
}

/* skill stuff */

.skillSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skill {
    margin: 4vh;
    width: 10vh;
}

.skill h5 {
    font-weight: 500;
    text-align: center;
}

.skill-icons {
    height: 100vh;
    width: 75vw;
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container {
    justify-content: center;
}

/* media query */

@media screen and (max-width: 980px) {

    .workPageTitle {
        width: 90vw;
    }

    .skill-intro h1 {
        margin-top: 8vh;
    }

    .skill-intro {
        width: 90vw;
    }

    .skill-intro h5 {
        width: 100%;
    }

    .skill-icons {
        width: 100vw;
        height: auto;
        margin-bottom: 5vh;
    }

    .me {
        width: 40vw;
        height: auto;
        margin-top: 25vh;
    }

    .rightCol {
        background-image: url(./assets/about/Me2.jpg);
    }

    .landing {
        display: grid;
        height: 100vh;
        background:
            linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.7)),
            url('./assets/landing-page/jake-hills-mI02K_LxlfU-unsplash2.jpg');
        background-size: cover;
    }

    .skill {
        height: 50px;
        height: 50px;
    }

    .skillSection {
        margin-left: 5px;
    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    body {
        overflow: visible;
    }

    .workContainer {
        width: 90vw;
    }

    .card {
        width: 80%;
    }

    .workIntro {
        width: 80vw;
    }

    .skill h5 {
        font-size: 15px;
        font-weight: 400;
    }

    .resumeSection a {
        padding-right: 5px;
    }
}

@media screen and (max-width: 667px) {

    .container h3 {
        margin-top: 8vh;
        font-weight: 300;
        font-size: 25px;
    }

    .menu-trigger {
        height: 31px;
        border-radius: 3px;
        top: 10px;
        left: auto;
        right: 10px;
        font-weight: 500;
        font-size: 30px;
        overflow: hidden;
        cursor: pointer;
        z-index: 999;
        color: rgb(6, 87, 101);
    }

    .dropdownMenu {
        display: grid;
        align-items: center;
        text-align: right;
        top: 55px;
        left: auto;
        right: 10px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        width: 180px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        z-index: 999;
    }

    .dropdownMenu ul {
        margin-top: 20px;
        margin-left: -5px;
        letter-spacing: 3px;
        margin-right: 10px;
    }

    .about-title {
        display: none;
        margin: 0;
        font-weight: 400;
    }

    .abtTitle {
        display: none;
        z-index: 998;
        color: white;
        margin: 0;
        height: 15vh;
    }

    .abtText {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 998;
        color: white;
        width: 100vw;
        height: auto;
    }

    .abtText h5 {
        width: 90%;
        height: 50vh;
    }

    .leftCol {
        width: 100vw;
    }

    .me {
        display: none;
        width: 40vw;
        height: auto;
        position: absolute;
        left: 2vw;
        margin-top: 0%;
        top: 2vh;
    }

    .blur {
        position: absolute;
        opacity: 0.4;
        background-color: rgba(0, 0, 0, 0.57);
    }

    .rightCol {
        position: absolute;
        width: 100vw;
        background-image: linear-gradient(rgba(0, 0, 0, 0.01),
                rgba(0, 0, 0, 0.4)),
            url(./assets/about/mebg.jpg);
    }

    .landing {
        display: grid;
        height: 100vh;
        background:
            linear-gradient(rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.7)),
            url('./assets/landing-page/jake-hills-mI02K_LxlfU-unsplash3.jpg');
        background-size: cover;
    }

    .about-me-text p {
        height: 100%;
        width: 100vw;
    }

    html {
        overflow: scroll;
    }

    .landingBtns {
        display: grid;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        width: 80vw;
    }

    .skill {
        margin: 6vh 2vh 2vh 2vh;
        width: 10vh;
    }

    .skill h5 {
        font-size: 10px;
        font-weight: 500;
    }

    .landingBtns {
        margin-top: 12vh;
    }
}

@media screen and (max-width: 395px) {
    .landing-title h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 300px) {

    .landing-title h1 {
        font-size: 30px;
    }

    .landingBtns a {
        font-size: 15px;
    }

    .skill-intro {
        min-width: 270px;
    }

    .skill-icons {
        min-width: 270px;
    }

}

@media screen and (max-height: 900px) {
    .about-text {
        letter-spacing: 1.5px;
        line-height: 1.6;
        width: 60vw;
        margin-top: 2vh;
        font-weight: 400;
    }
}

@media screen and (max-height: 700px) {

    .about-text {
        letter-spacing: 1px;
        line-height: 1.3;
        width: 60vw;
        margin-top: 2vh;
        font-weight: 400;
    }

    .about-title {
        margin-top: 8vh;
        font-weight: 500;
        font-size: 35px;
    }
}

@media screen and (max-width: 300px) {
    .form-control {
        min-width: 275px;
    }
}

@media screen and (max-width: 470px) {
    .skill {
        width: 14vw;
    }
}